# Gros fichiers vidéo (hébergés sur GitHub Releases)
*.mp4
*.m4a
!Le_fracas_des_trous_noirs_pour_forger_l_or.m4a
!Podcast.m4a

# Fichiers temporaires
*.docx

# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride

# Fichiers d'icônes personnalisées macOS
Icon
Icon?
Icon
**/Icon
**/Icon?
